<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/assessment.css">
</head>
<body>
    <footer>
        <div class="footer-content">
          <div class="footer-links">
            <h3>CareerAIPlus</h3>
            <p>Your partner <br> in career advancement</p>
          </div>
          <div class="footer-links">
            <h3>Company</h3>
            <a href="#">Careers</a>
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
          </div>
          <div class="footer-links">
            <h3>Resources</h3>
            <a href="#">Blog</a>
            <a href="#">Privacy Policy</a>
            <a href="">Help Centre</a>
          </div>
        </div>
      </footer>
</body>
</html>